@font-face {
  font-family: "VT323";
  src: url("fonts/VT323-Regular.ttf") format("truetype");
}
html,
body {
  position: relative;
  height: 100%;
  
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  background-image: url(https://wallpaper.dog/large/10771176.jpg);
}

.swiper {
  width: 100%;
  height: 400px;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.swiper-title {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.discount-percentege {
    background: #38cf68;
    border-radius: 4px 0 0 0;
}

.original-price, .current-price, .discount-percentege  {
  padding: 4px;
  color: white;
}

.current-price, .original-price  {
  background-color: orange;
  
}

.original-price {
  font-style: italic;
}

.current-price {
  font-weight: bold;
}

.card-box {
  padding-top: 100px;
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 100px;
}

.img-fluid {
 padding-top: 50px;
 padding-bottom: 50px;
}

.btn {
  border-color: blue;
  color: blue;
}

.text-dark {
    background-color: #a70626;
  };

  .navbar {
    background-color: red !important;
  }

  